body { background: #ba9e71; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 17px; display: flex; }
.block-filter-0 { color: #c5ebbf; font-size: 16px; margin-bottom: 5px; }
.block-shipping-1 { color: #4cd30c; font-size: 13px; margin-bottom: 5px; }
.block-helper-2 { color: #6c98e5; font-size: 16px; margin-bottom: 5px; }
.block-invoice-3 { color: #a7668e; font-size: 14px; margin-bottom: 5px; }
.block-uploader-4 { color: #d6f0a5; font-size: 19px; margin-bottom: 5px; }
.block-metrics-5 { color: #69eba; font-size: 17px; margin-bottom: 5px; }
.block-invoice-6 { color: #44fa12; font-size: 19px; margin-bottom: 5px; }